.page-header
  %h1 Контакты

.span7
  .managers
    %h3 Наши менеджеры
    .manager
      .row
        .photo.span2= image_tag asset_path('person.jpg')
        .span5
          %h4.full_name Иванов Сигизмунд Аркадьевич
          .contacts
            %p
              %strong Телефон:
              8 927 123 45 67
            %p
              %strong E-mail:
              sigizmund@mdmstandart.ru
            %p
              %strong Регион работы:
              Ульяновская область
    .manager
      .row
        .photo.span2= image_tag asset_path('person.jpg')
        .span5
          %h4.full_name Иванов Сигизмунд Аркадьевич
          .contacts
            %p
              %strong Телефон:
              8 927 123 45 67
            %p
              %strong E-mail:
              sigizmund@mdmstandart.ru
            %p
              %strong Регион работы:
              Ульяновская область
    .manager
      .row
        .photo.span2= image_tag asset_path('person.jpg')
        .span5
          %h4.full_name Иванов Сигизмунд Аркадьевич
          .contacts
            %p
              %strong Телефон:
              8 927 123 45 67
            %p
              %strong E-mail:
              sigizmund@mdmstandart.ru
            %p
              %strong Регион работы:
              Ульяновская область
.span4
  .contacts
    %h3 О нас
    %p
      %strong Адрес:
      127299, г. Москва, ул. Космонавта Волкова, д. 22, стр. 1 ООО «МДМ»
    %p
      %strong Телефон:
      +7 (495) 788-44-74 многоканальный
    %p
      %strong Факс:
      +7 (495) 788-44-05
    %p
      %strong Электронная почта:
      info@mdm-group.ru
    %p
      %strong Время работы:
      9.00 — 18.00 (по рабочим дням)