.production-title {
  background-color: #fdfafa;
  padding-top: 9px;
  height: 33px;
  text-align: center;
  font-size: 20px;
  color: #1e3a8e;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  border-bottom: 1px solid #cccccc;
  margin-bottom: 15px;
}

.production {
  min-height: 270px;

  .item {
    margin-bottom: 10px;
    height: 80px;
    background-color: #ba3737;
    font-size: 15px;
    color: #ffffff;
    text-align: center;

    cursor: pointer;

    p {
      padding: 10px;
      margin-top: 0px;
    }

    &.active {
      background-color: #2a48a3;
    }
  }

  [class*="span"] {
    margin-left: 20px;
  }

  .span2 {
    width: 175px;
  }


  .subitems {

    p.default-text {
      text-align: center;
      font-size: 16px;
      margin-top: 65px;

      color: red;
      font-style: italic;
    }

    ul {
      display: none;
      font-size: 16px;
      color: #0b2266;
      font-style: italic;

      li {
        line-height: 28px;
      }
    }
  }
}