.hot
  %h3 Горячие предложения

  .items
    .item
      = image_tag asset_path('sales/telezhka.png')
      %span.sale.sale35
      %h4 Тележка покупательская с детским сидением
      .article Артикул: KLO-A-60L
      .cost 2239,60 руб
    .item
      = image_tag asset_path('sales/telezhka.png')
      %span.sale.sale35
      %h4 Тележка покупательская с детским сидением
      .article Артикул: KLO-A-60L
      .cost 2239,60 руб
