%meta(charset="utf-8")
%meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
%meta(name="viewport" content="width=device-width, initial-scale=1.0")
%meta(name="yandex-verification" content="5c071a5460ec736f")

%meta{:content => "МДМ MDM купить торговое оборудование холодильное технологическое тепловое барное мебель для магазинов одежды стеллажи прилавки витрины горки эконом панели эконом-панелиэкономпанели вешала манекены алюминиевый профиль ДСП станки свет продажа производство Ульяновск Ульяновская область", :name => "keywords"}
%meta{:content => "МДМ - магазин для магазинов – предлагает поставку и производство торгового оборудования для магазинов. На сайте Вы найдете полный каталог торгового оборудования с иллюстрациями и ценами: прилавки, витрины, горки, стеллажи, экономпанели, системы труб, конструкции из ДСП и алюминиевого профиля и многое другое.", :name => "description"}